# PyCharm IDE文件
.idea/

# Python缓存文件
__pycache__/
*.pyc
*.pyo

# pytest缓存、报告
.pytest_cache/
report.html

# 虚拟环境
venv/
.venv/

# Allure 报告
allure-results/
allure-report/

# JMeter 结果
*.jtl
jmeter-report/